[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
seaborn = "*"
scikit-learn = "*"
nltk = "*"
beautifulsoup4 = "*"
keras = "*"
tensorflow = "*"

[requires]
python_version = "3.8"
executable = "/anaconda/envs/azureml_py38_PT_TF/bin/python"

