[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
scikit-learn = "*"
nltk = "*"
seaborn = "*"
keras = "*"
tensorflow = "*"
bs4 = "*"
scipy = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11.1"
